@{
    ViewData["Title"] = "Home Page";
}

<table id="myTable" class="table table-condensed">

</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
